@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add custom styles here */
body {
  @apply bg-gray-100 text-gray-900;
}


body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

